.container{
	padding:90px
}

.containerPortafolio{
	padding: 0px 90px 0px 90px;
	margin-top: -50px;
}

.containerCareer{
	padding: 0px 150px 0px 150px;
}

.header {
	width:100%;
}

.header nav ul {
	overflow:hidden;
	list-style:none;
}

.header nav ul li {
	float:left;
}

.header nav ul li a {
	padding:20px;
	display:block;
	text-decoration:none;
}

.header nav ul li span {
	margin-right:10px;
}

.logo{
	margin-right: 70px;
	margin-left: -30px;
}

.search{	
    background-image: url("../public/img/search.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 95% 50%;
	padding: 10px;
	border-radius: 5px;
	border-color: #C6BAF8;
	margin-top: 15px;
}
.image{
	display: none;
}

.button{
	background: transparent linear-gradient(248deg, #1B92C8 0%, #2C3636 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 100px;
	padding: 10px;
	color: white;
	border-radius: 5px;
	margin-top: 15px;	
	margin-left: 20px;
}

.button1{
	width: 100px;
	padding: 10px;
	border-radius: 5px;
	color: #185F7F;
	border-color: #185F7F;
	background-color: white;
	margin-left: 20px;

}

.button1:hover{
	background: transparent linear-gradient(248deg, #1B92C8 0%, #2C3636 100%) 0% 0% no-repeat padding-box;
	opacity: 1;	
	color: white;
}

.hiddenDesktop{
	display: none;
}

.menuMobile{	
	list-style:none;
	background-color:#185F7F;
}

.menuMobile li a {
	color: white;
}

.fondo{
    background-image: url("../public/img/fondo.svg");
    background-repeat: no-repeat;
    background-size: cover;

}
.center{
	text-align: center;
}

.title{
	font-size: 28px;
}

.aboutText{
	padding: 0px 50px 0px 100px;
	text-align: justify;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.col_4 {
	flex: 0 0 23%;
	max-width: 23%;
	box-shadow: 0px 10px 30px #99999933;
	border-radius: 5px;
	margin-right: 20px;
	padding:20px;
	height: 350px;
}

.col_4a{
	flex: 0 0 40%;
	max-width: 40%;
	/* margin-right: 10px; */
}

.col_8{
	flex: 0 0 75%;
	max-width: 75%;
}

.col_7 {
	flex: 0 0 60%;
	max-width: 60%;
}

.col_6{
	flex: 0 0 50%;
	max-width: 50%;
}
.col_10{
	flex: 0 0 10%;
	max-width: 10%;
}
.col_3{	
	flex: 0 0 30%;
	max-width: 30%;
	margin-right: 20px;
	margin-top: 60px;
}

.col_3a{	
	flex: 0 0 30%;
	max-width: 30%;
	margin-right: 20px;
}
.col_12{
	flex: 0 0 100%;
	max-width: 100%;
}

.col_4b{
	flex: 0 0 25%;
	max-width: 25%;
}

.right{
	float:right;
	margin-right: 47%;
	margin-top: 20px;
	border-radius: 50px;
	background-color: gray;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left{
	float:left;
	margin-left: 47%;
	margin-top: 20px;
	background-color: gray;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 30px #99999933;
	border-radius: 8px;
	padding: 20px;
	height: 270px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #185F7F;
}

.card:hover{
	background-color: #185F7F;
	color: white;
}

.sizeImage{
	height: 100%;
	width: 100%;
	max-width: 150px;
	max-height: 100px;
}

.fondoContact{
	background-color: #e8f4ff;
    background-image: url("../public/img/fondo.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.containerContact{
	padding: 50px;
}

.form{
	width:80%;
	background:white;
	border-radius:8px;
	box-shadow:0 0 40px -10px #000;
	margin: 0px 50px 0px 50px;
	padding:20px 30px;
}
.input{
	width:90%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	border-bottom:2px solid #ededed
}

.label:before{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	font-weight: bold;
}

.forma{
	background-color: white;
	clip-path: polygon(0 0, 100% 1%, 100% 69%, 0 91%);
}

.containerFooter{
	padding: 60px 100px 160px 150px;
}

.facebook{
	width: 40px;
	height: 40px;
	background: transparent linear-gradient(45deg, #6362D7 0%, #FF8FE2 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skype{
	width: 40px;
	height: 40px;
	background: transparent linear-gradient(23deg, #00B56C 0%, #1DBE75 22%, #68D58C 68%, #9EE69D 100%) 0% 0% no-repeat padding-box;
	opacity: 1;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.instagram{
	width: 40px;
	height: 40px;
	background: transparent linear-gradient(47deg, #F09376 0%, #F0DB79 100%) 0% 0% no-repeat padding-box;opacity: 1;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.linked{
	width: 40px;
	height: 40px;
	background: transparent linear-gradient(90deg, #FF9AB6 0%, #F03295 99%, #F03295 100%) 0% 0% no-repeat padding-box;opacity: 1;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactUs{	
	margin-top:-50px;
}

@media screen and (max-width:1000px ) {
	.image{
		display: block;
		margin-top: 15px;
	}
	.invisibleSearch{
		display: none;
	}
	.logo{
		margin-right: 40px;
	}
	.right{
		margin-right: 40%;
	}
	
	.left{
		margin-left: 40%;
	}
	.containerCareer{
		padding: 0px 100px 0px 100px;
	}
	.contactUs{	
		margin-top:-10px;
	}

}

@media screen and (max-width:800px ) {
	.hiddenMobile{
		display: none;
	}
	.hiddenDesktop{
		display: block;
	}
	.button{
		margin-left: 0px;
	}
	.container{
		padding:40px
	}
	
	.containerPortafolio{
		padding: 0px 40px 0px 40px;
		margin-top: -50px;
	}
	.col_4{
		flex: 0 0 40%;
		max-width: 40%;
	}	
	.containerCareer{
		padding: 0px 60px 0px 60px;
	}
	.card{
		height: 250px;
	}
	.col_7{		
		flex: 0 0 100%;
		max-width: 100%;
	}
	.containerFooter{
		padding: 20px 20px 160px 20px;
	}
}

@media screen and (max-width:600px ) {
	.hiddenMobile{
		display: none;
	}
	.hiddenDesktop{
		display: block;
	}
	.button{
		margin-left: 0px;
	}
	.aboutText{
		padding: 0px;
	}
	.col_6{
		flex: 0 0 100%;
		max-width: 100%;
	}
	.aboutText{
		padding: 0px;
	}
	.container{
		padding:20px
	}
	
	.containerPortafolio{
		padding: 0px 20px 0px 20px;
		margin-top: 0px;
	}

	.containerCareer{
		padding: 0px 20px 0px 20px;
	}
	.col_3{	
		flex: 0 0 54%;
		max-width: 40%;
		/* margin-right: 20px; */
		margin-top: 20px;
	}
	.col_3a{	
		flex: 0 0 40%;
		max-width: 40%;
		/* margin-right: 20px; */
		margin-top: 20px;
	}
	.containerContact{
		padding: 20px;
	}
	.col_4b{
		flex: 0 0 50%;
		max-width: 50%;
	}
	.containerFooter{
		padding: 20px 20px 220px 20px;
	}
	.contactUs{	
		margin-top:-50px;
	}
}

@media screen and (max-width:400px ) {
	.col_4{
		flex: 0 0 90%;
		max-width: 90%;
	}
	
	.contactUs{	
		margin-top:-10px;
	}
}